.tv-stream {
  position: relative;
}

.tv-stream img {
  margin: auto;
}

.scoreboard {
  position: absolute;
  top: 60px;
  left: 60px;
}


/* Toggle Button */

.btn-toggle {
  margin-top: 50px;
  margin: 20px;
  padding: 10px;
}
